body{
    background-image: url("/images/green-tea-workspace.jpg");
}

h2{
    color: rgb(49, 49, 49);
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 500px;
    margin-top: 10%; /* ezt valami auto bállításra kell csrélni*/
    background-color: rgba(0, 0, 0, 0.541);
    border-style: none;
    border-radius: 10px;
}

.leftBox{
    display: flex;
    flex-direction: column;
    height: 80%;
    margin: 0;
    width: 45%;
}

.logo{
margin-bottom: 5%;
}

#my-blog{
    color: white;
}

.textHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.intro{
    color: white;
    text-align: justify;
    width:90%;
}

#contact{
    color: rgb(49, 49, 49);
    font-weight: bold;
}

#contact:hover{
    color: white;
}

.separator{
    width: 3px;
    height: 75%;
    background-color: rgb(49, 49, 49);
}

.rightBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    margin: 0;
    width: 45%;
}