<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
        crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>My Blog</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="">home</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/login">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/registration">Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<div class="content">
  <div class="container">

    <div class="leftBox">
      <div class="logo">
        <h1 id="my-blog" class="form-text">MyBlog</h1>
        <h2 class="log-text">MyStory</h2>
      </div>
      <div class="textHolder">
        <p class="intro">
          Welcome everyone to the Mylog app!
          My name is Flóra. I am a newibe in the world of programming.
          I’m learning Java development and that’s my homework, but I couldn’t bear not to make a
          pretty website for my application.
          So I hope you like my work. If you have any questions, please...
        </p>
        <p id="contact">contact me</p>
      </div>
    </div>

    <div class="separator"></div>

    <div class="rightBox">

      <div class="textHolder">
        <p class="intro">
          My goal is to be able to create your own blog based on given templates using the app after
          registration.
        </p>
        <p class="intro">
          So I need to make some templates.
          I need to connect the frontend interface to the backend.
        </p>
        <p class="intro">
          Hopefully I will be able to make the app work soon.
          In the meantime, there is still a lot to do.
        </p>
      </div>
    </div>

  </div>
</div>


</body>
</html>